*
{
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
}
body{
  align-content:center;
}
form
{
  width: 75%;
  box-shadow: 0 0 5px 1px;
  margin: 0 12% 0 12%;
  border: 1%;
  padding:15px 10px;
  border-radius: 5px;
}
img
{
  width: 30px;
}
.head
{
  text-align: center;
  font-size: 2em;
  padding-bottom:0.4em;
  border-bottom: 2px solid blue;
  margin-bottom: 10px;
}
#p1
{
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
label
{
  font-weight: bold;
 
}
input
{
  
  color: blue;
  border: 0;
  outline: 0;
  border-bottom:1px solid black;
  
}
.fileds
{
  padding: 2%;
  margin: 1%;
}
#mno,#amno
{
 width:33%; 
}
#name,#mail,#location,#status,#comment{
  width:80%;
}
#cp
{
  width: 50%;
}
#course,#cname{
  width: 72.5%;
}
#domain{
  width:42%;
}
#coun{
  width:49%;
}
.right{
  text-align: right;
  
}
#date
{
  border: 1px solid black;
}
.filed1,.filed2
{
  border-bottom:2px solid black;
}
